---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import ArrowRight from '../../components/icons/ArrowRight.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header active="blog" />
		<main>
			<section>
				<ul>
					{posts.map((post) => (
					<li>
						<a href={`/blog/${post.id}/`} class="article-link">
							<div class="metadata">
								<FormattedDate date={post.data.pubDate} />

								<span class="read">
									<ArrowRight size="0.9rem" />
									Read
								</span>
							</div>

							<div class="title">
								<h4>{post.data.title}</h4>
							</div>

						</a>
					</li>
					))}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
ul {
	list-style-type: none;
}

.article-link {
	display: flex;
	text-decoration: none;
	padding: 1rem 0 0.5rem 0;
	border-bottom: 2px solid var(--background-surface);
	transition: all 100ms;

	&:hover {
		border-color: var(--brand-4);

		h4 {
			color: var(--brand-7);
		}
	}
}

.metadata {
	min-width: 10rem;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	.date {
		color: var(--foreground-subtle);
		font-size: 1rem;
	}

	.read {
		color: var(--brand-7);
		font-variant: small-caps;
		text-transform: lowercase;

		svg {
			vertical-align: -0.15rem;
		}
	}
}

.title h4 {
	transition: all 100ms;
}
</style>
