---
import FormattedDate from '../../FormattedDate.astro';
import ArrowRight from '../../icons/ArrowRight.astro';

interface Props {
	lang: 'en' | 'pl',
	id: string,
	pubDate: Date,
	readText: string,
	title: string,
	description?: string,
}

const { lang, id, pubDate, readText, title, description } = Astro.props
---
<li>
	<a href={`/${lang}/blog/${id}/`} class="article-link">
		<div class="metadata">
			<FormattedDate date={pubDate} />

			<span class="read">
				<ArrowRight size="0.9rem" />
				{readText}
			</span>
		</div>

		<div class="title">
			<h4>{title}</h4>
			{description && (<span>{description}</span>)}
		</div>
	</a>
</li>

<style>
.article-link {
	display: flex;
	text-decoration: none;
	align-items: flex-start;
	padding: 1rem;
	margin-bottom: 1rem;
	border: 2px solid var(--background-surface);
	transition: all 100ms;

	@media screen and (max-width: 550px) {
		flex-direction: column;
		align-items: flex-start;
		padding: 0.5rem 1rem;
	}

	&:hover {
		background-color: var(--brand-2);
		border-color: var(--brand-4);

		.read {
			transform: translateX(0.5rem);
		}
	}
}

.metadata {
	min-width: 10rem;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	.date {
		color: var(--foreground-subtle);
		font-size: 1rem;
	}

	.read {
		color: var(--brand-7);
		font-variant: small-caps;
		text-transform: lowercase;
		transition: transform 100ms ease-in-out;

		svg {
			vertical-align: -0.15rem;
		}

		@media screen and (max-width: 550px) {
			display: none;
		}
	}
}

.title {
	h4 {
		margin-bottom: 0;
		letter-spacing: -0.05rem;
	}

	span {
		color: var(--foreground-subtle);
		font-size: 1.1rem;
		line-height: 1;
	}
}
</style>
