---
import { getRelativeLocaleUrl } from 'astro:i18n';
import Dot from './Dot.astro';
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle.astro';

import { SITE_TITLE } from '../consts';

interface Props {
	active: 'index' | 'blog' | 'projects' | 'about';
	navLinks: {
		articles: string;
		projects: string;
		about: string;
	};
	slug?: string;
	translationAvailable?: boolean;
}

const { active, navLinks, slug, translationAvailable } = Astro.props;
const currentLocale = Astro.currentLocale || 'en';

const links = [
	{ link: 'blog', name: navLinks.articles, disabled: false },
	{ link: 'projects', name: navLinks.projects, disabled: true },
	{ link: 'about', name: navLinks.about, disabled: false, },
];

const switcherPath = slug ? `/blog/${slug}` : (active === 'index' ? '/' : `/${active}`);
const enUrl = getRelativeLocaleUrl('en', switcherPath);
const plUrl = getRelativeLocaleUrl('pl', switcherPath);
const homeUrl = getRelativeLocaleUrl(currentLocale, '/');

const enDisabled = currentLocale === 'en' ? false : (slug ? !translationAvailable : false);
const plDisabled = currentLocale === 'pl' ? false : (slug ? !translationAvailable : false);
---

<header>
	<nav class="top">
		<h4>
			<a href={homeUrl}>
				{SITE_TITLE}
				{active === 'index' && (<Dot />)}
			</a>
		</h4>
		<div class="languages">
    		<ThemeToggle />
			{enDisabled ? (
				<span class="disabled">en</span>
			) : (
				<a href={enUrl}>en</a>
			)}
			/
			{plDisabled ? (
				<span class="disabled">pl</span>
			) : (
				<a href={plUrl}>pl</a>
			)}
		</div>
	</nav>

	<nav class="bottom">
		{links.map(({link, name, disabled}) => (
			<HeaderLink
				locale={currentLocale}
				active={active}
				link={link}
				name={name}
				disabled={disabled}
			/>
		))}
	</nav>
</header>

<style>
header {
	margin: 0;
	padding: 2rem;
	background: var(--background);
	box-shadow: 0 2px 8px rgba(var(--black), 5%);
	border-bottom: 1px solid var(--background-surface);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 720px;
	margin: auto;
	gap: 0.5rem;

	@media screen and (max-width: 550px) {
		flex-direction: column;
	}
}

a {
	text-decoration: none;
	color: var(--brand-7);
	font-family: var(--body-font);
	letter-spacing: 0;
}

.languages {
	font-variant: small-caps;

	a {
		text-decoration: none;
		color: var(--foreground);
		transition: color 100ms;
	}

	a:hover {
		color: var(--brand-7);
	}

	.disabled {
		cursor: not-allowed;
		opacity: 0.3;
	}
}
</style>
