---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE } from '../consts';

type Props = {
	title?: string,
	description?: string,
	pubDate: Date,
	updatedDate?: Date,
	collection: 'articles' | 'notes' | 'jots',
	t: {
		lastUpdatedText: string;
		navLinks: {
			articles: string;
			projects: string;
			about: string;
		};
	};
};

const { title = null, description, pubDate, updatedDate, collection, t } = Astro.props;
const currentLocale = Astro.currentLocale || 'en';
---
<html lang={currentLocale}>
	<head>
		<BaseHead title={title || SITE_TITLE} description={description} />
	</head>

	<body>
		<Header active="blog" navLinks={t.navLinks} />
		<main>
			<article class={collection}>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										{t.lastUpdatedText} <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
main {
	width: calc(100% - 2em);
	max-width: 100%;
	margin: 0;
}

article.notes, h1 {
	font-family: var(--sans-font);
	letter-spacing: -0.03rem;
}

article.jots {
	font-family: var(--mono-font);
}
.hero-image {
	width: 100%;
}
.hero-image img {
	display: block;
	margin: 0 auto;
	border-radius: 12px;
	box-shadow: var(--box-shadow);
}
.prose {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 1em;
	color: rgb(var(--gray-dark));
}
.title {
	margin-bottom: 1em;
	padding: 1em 0;
	text-align: center;
	line-height: 1;
}
.title h1 {
	margin: 0 0 0.5em 0;
}
.date {
	margin-bottom: 0.5em;
	color: rgb(var(--gray));
}
.last-updated-on {
	font-style: italic;
}
</style>
