---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE } from '../consts';
import '../styles/marginnotes.css';
import '../styles/blogpost.css';

type Props = {
	title?: string,
	description?: string,
	pubDate: Date,
	updatedDate?: Date,
	collection: 'articles' | 'notes' | 'jots',
	slug?: string,
	translationAvailable?: boolean,
	t: {
		lastUpdatedText: string;
		navLinks: {
			articles: string;
			projects: string;
			about: string;
		};
	};
};

const { title = null, description, pubDate, updatedDate, collection, slug, translationAvailable, t } = Astro.props;
const currentLocale = Astro.currentLocale || 'en';

const articleMeta = {
	publishedTime: pubDate,
	modifiedTime: updatedDate,
};

const ogImage = slug ? `/og/${currentLocale}/${slug}.png` : undefined;
---
<html lang={currentLocale}>
	<head>
		<BaseHead title={title || SITE_TITLE} description={description} ogImage={ogImage} articleMeta={articleMeta} />
	</head>

	<body>
		<Header active="blog" navLinks={t.navLinks} {slug} {translationAvailable} />
		<main>
			<article class={collection}>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							<h6>
								<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<span class="last-updated-on">
								&bull; {t.lastUpdatedText} <FormattedDate date={updatedDate} />
									</span>
								)
							}
							</h6>
						</div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
main {
	width: calc(100% - 2em);
	max-width: 100%;
	margin: 0;
}

article.articles {
	font-family: var(--body-font);
}

article.notes {
	font-family: var(--sans-font);
	letter-spacing: -0.03rem;

	h1, h2, h3, h4, h5, h6 {
		font-family: var(--sans-font);
	}
}

article.jots {
	font-family: var(--mono-font);
	font-size: 0.8rem;
	line-height: 1.2;

	h6 {
		font-size: inherit;
	}

	code {
		font-size: 0.8rem;
	}
}

.prose {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 1em;
	color: rgb(var(--gray-dark));
}

/* Adjust prose width on large screens to accommodate margin notes */
@media (min-width: 1280px) {
	.prose {
		width: 55%;
		max-width: 720px;
	}
}
.title {
	margin-bottom: 1em;
	padding: 1em 0;
	text-align: center;
	line-height: 1;
}
.title h1 {
	margin: 0 0 1rem 0;
}
.date {
	margin-bottom: 0.5em;
	color: rgb(var(--gray));
}
</style>
